/* src/App.css */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-container {
    padding: 20px;
    flex-grow: 1; /* Hogy kitöltse a rendelkezésre álló helyet */
    
}

/* Navbar stílusok (Navbar.jsx-hez) */
.main-nav {
    background-color: #282727;
    color: white;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    padding: 8px 15px;
    margin-left: 10px;
    border-radius: 4px;
    font-size: 1.1em; 
    transition: background-color 0.3s;
}

.nav-links li a:hover {
    background-color: #575757;
}
