/* src/Components/OsszesKonyv.css */

.osszes-konyv-container {
    padding: 20px;
  }
  
  .konyvlista-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }